%div.card-panel
    %table.centered.striped
        %thead
            %tr
                %th ID
                %th Nombre
                %th Acción
        %tbody
            - $data->showCategories();