%div.card-panel
    %table.centered.striped
        %thead
            %tr
                %th Titulo
                %th Relavante
                %th Acción
        %tbody
            - $data->showNotes();